.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db

backend/.env
backend/venv
backend/__pycache__
backend/.pytest_cache
backend/generated_exports

.venv
venv
node_modules
